{% extends 'dashboard.html.twig' %}

{% block title %}statistiques{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
          integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
          crossorigin="anonymous">
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Statistiques</h1>
        <canvas id="chambre" width="400" height="100"></canvas>
        <canvas id="reservation" width="400" height="100"></canvas>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
            integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
            crossorigin="anonymous"></script>
    <script>
        let chambre = document.querySelector("#chambre")
        let chambreGraph = new Chart(chambre, {
            //graphique en came
            type: "pie",
            data: {
                //filtre twig raw
                labels: {{ chambredes|raw}},
                datasets: [{
                    label: "Répartition des chambres",
                    data: {{ chambrecount|raw }},
                    backgroundColor: ["red","green","blue","black","yellow","pink","purple"]
                }]
            }
        })
    </script>
{% endblock %}