{% extends 'back.html.twig' %}

{% block title %}Hello BackController!{% endblock %}

{% block content %}

    {{ form_start(form,{'attr': {'novalidate': 'novalidate','class':'search-box'}} ) }}
    <div class="form-group">
        <label for="exampleInputEmail1">Your New Type</label>

        {{ form_widget(form.nom, {'attr':{ 'placeholder': 'Insert the new type','class':'form-control'  }}) }}
        <small id="emailHelp" class="form-text text-muted">We'll never share it with anyone else.</small>
    </div>

    {{ form_widget(form.Update  ,{'attr':{'class':'btn btn-warning' }}) }}
    {{ form_end(form) }}
{% endblock %}